@charset "utf-8";

section{padding-top: 210px;}

#communityBox{
    width: 1200px;  height: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
#communityBox h2{
    padding: 50px 0;
    font-size: 50px;
    font-weight: 500;
}

#communityBox ul{
    border-top: 1px solid #aaa;
    margin-bottom: 50px;
}
#communityBox ul li{
    border-bottom: 1px solid #ccc;
    display: flex;
    text-align: center;
}
#communityBox ul li span{
    display: block;
    font-size: 16px;
    line-height: 30px;
    color: #555;
    padding: 10px;
    font-weight: 700;
}
#communityBox ul li:first-child span{
    font-size: 24px;
    font-weight: bold;
}
#communityBox ul li:first-child span.field1{text-align-last: center;}

#communityBox ul li:nth-child(even){background-color: #eee;}

#communityBox ul li span.field1{
    width: calc(100% - 250px);
}
#communityBox ul li span.field2{width: 100px;}
#communityBox ul li span.field3{width: 150px;}

@media (max-width: 1199px){
    #communityBox{
        width: 100%;
    }
}
@media (max-width: 1023x){
    
}
@media (max-width: 767px){
    section{padding-top: 100px;}
}
@media (max-width: 479px){
    #communityBox ul li span{font-size: 14px;}
    #communityBox ul li:first-child span{font-size: 18px;}
    #communityBox ul li span.field1{width: calc(100% - 170px);}
    #communityBox ul li span.field2{width: 70px;}
    #communityBox ul li span.field3{width: 100px;}
}