@charset "utf-8";

#submenu{padding-top: 210px;}

#submenu .wrap{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}
#submenu .wrap h1{
    font-size: 80px; 
}
#submenu .wrap h1:before{
    content: "";
    display: block;
    width: 200%; height: 1px;
    background-color: #4E74A6;
    position: relative;
    left: 50%;
    transform: translateX(-50%);  
}
#submenu .wrap h1:after{
    content: "";
    display: block;
    width: 200%; height: 1px;
    background-color: #4E74A6;
    position: relative;
    left: 50%;
    transform: translateX(-50%);  
    margin-top: 20px;
}



#shopList{
    margin: 50px 0;
}
#shopList .shopwrap{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#shopList .shopwrap .cont{
    width: calc(25% - 20px); height: 450px;
    margin: 20px 10px 30px;
    border-bottom: 1px solid #ccc;
}
#shopList .shopwrap .cont .imgPart{}
#shopList .shopwrap .cont .imgPart:hover{
    box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.35);
}
#shopList .shopwrap .cont .imgPart img{
    /* background-color: #aaa; */
    width: 100%; height: 200px;
    background-size: cover;
    background-position: 50% 50%;
    transition: box-shadow 0.5s;
    cursor: pointer;
}

#shopList .shopwrap .cont .txtPart{
    padding-top: 20px;
    text-align: center;

}
#shopList .shopwrap .cont .txtPart p{
    font-family: 'IBM Plex Sans KR';
    font-weight: 300;
}
#shopList .shopwrap .cont .txtPart p:nth-child(1){
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
}
/* #shopList .shopwrap .cont .txtPart p:nth-child(2){
    font-size: 14px;
    color: #555;
    padding-bottom: 20px;
    word-break: keep-all;
} */
#shopList .shopwrap .cont .txtPart p:nth-child(2){
    font-size: 18px;
    font-weight: 700;
    color: #4E74A6;
    padding-bottom: 10px;
}
#shopList .shopwrap .cont .txtPart a{
    display: block;
    color: black;
    font-size: 10px;
    font-weight: 500;
    font-family: 'IBM Plex Sans KR';
}
#shopList .shopwrap .cont .txtPart a:hover{
    color: #4E74A6;
}


@media (max-width: 1199px){}
@media (max-width: 1023px){
    #shopList .shopwrap{
        width: 100%
    }
    #shopList .shopwrap .cont{
        width: calc(100% / 3 - 20px);
    }
}
@media (max-width: 767px){
    #shopList .shopwrap .cont{
        width: calc(50% - 20px);
    }
}
@media (max-width: 479px){
    #shopList .shopwrap .cont{
        width: 100%;
    }
}