<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAPRICORNUS</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="../css/common.css">    
    <link rel="stylesheet" href="../css/community.css">    
</head>
<body>
    
    <div id="header"></div>


    <section>
        <div id="communityBox">
            <h2>Community</h2>

            <ul>
                <li>
                    <span class="field1">제목</span>
                    <span class="field2">작성자</span>
                    <span class="field3">등록일</span>
                </li>
                <li>
                    <span class="field1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam, sint.</span>
                    <span class="field2">아무개</span>
                    <span class="field3">0000-00-00</span>
                </li>
                <li>
                    <span class="field1">00</span>
                    <span class="field2">아무개</span>
                    <span class="field3">0000-00-00</span>
                </li>
                <li>
                    <span class="field1">00</span>
                    <span class="field2">아무개</span>
                    <span class="field3">0000-00-00</span>
                </li>
                <li>
                    <span class="field1">00</span>
                    <span class="field2">아무개</span>
                    <span class="field3">0000-00-00</span>
                </li>
                <li>
                    <span class="field1">00</span>
                    <span class="field2">아무개</span>
                    <span class="field3">0000-00-00</span>
                </li>
                <li>
                    <span class="field1">00</span>
                    <span class="field2">아무개</span>
                    <span class="field3">0000-00-00</span>
                </li>
                <li>
                    <span class="field1">00</span>
                    <span class="field2">아무개</span>
                    <span class="field3">0000-00-00</span>
                </li>
                <li>
                    <span class="field1">00</span>
                    <span class="field2">아무개</span>
                    <span class="field3">0000-00-00</span>
                </li>
                <li>
                    <span class="field1">00</span>
                    <span class="field2">아무개</span>
                    <span class="field3">0000-00-00</span>
                </li>
                <li>
                    <span class="field1">00</span>
                    <span class="field2">아무개</span>
                    <span class="field3">0000-00-00</span>
                </li>
            </ul>
        </div>
    </section>

    <div id="footer"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/member.js"></script>
</body>
</html>