<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAPRICORNUS</title>
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="../css/common.css">    
    <link rel="stylesheet" href="../css/community.css">    
</head>
<body>
    
    <div id="header"></div>


    <section>
        <div id="communityBox">
            <h2>Notice</h2>

            <ul>
                <li>
                    <span class="field1">제목</span>
                    <span class="field2">작성자</span>
                    <span class="field3">등록일</span>
                </li>
                <li>
                    <span class="field1">2022년 여름 신메뉴 출시 안내</span>
                    <span class="field2">운영자</span>
                    <span class="field3">2022-06-27</span>
                </li>
                <li>
                    <span class="field1">2022년 6월 호국보훈의 달 이벤트 안내</span>
                    <span class="field2">운영자</span>
                    <span class="field3">2022-05-29</span>
                </li>
            
            </ul>
        </div>
    </section>

    <div id="footer"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/member.js"></script>
</body>
</html>